# ======================================================================
# Standard .gitignore for quotes display android projects
# Git .gitignore file, this tells git what to ignore and what to 
# allow to be included in the repo
# ======================================================================

# Ignore any static reference-only projects.
*-v*

# Ignore any project personal notes
*notes/

# Ignore the android studio legacy projects.
*android_studio_gradle/

# Ignore any android eclipse legacy projects.
*android_eclipse_ant/

#ignore any private keystore files.
*.jks

# Local configuration file (sdk path, etc)
local.properties


# gradle specific ignores.
.gradle
*generated
*intermediates
*tmp
*logs
