# ======================================================================
# Standard .gitignore for quotes display android projects
# ======================================================================

# ---
# Blacklist (ignores)
# ---

# Ignore any static reference-only projects.
*-v*

# Ignore any project personal notes
*notes/*

# Ignore the android studio legacy projects.
*android_studio_gradle/

# Ignore any android eclipse legacy projects.
*android_eclipse_ant/

# Ignore any private keystore files.
*.jks

# gradle specific ignores.

# ignore gradle props.
*.gradle/

# ignore gradle build dir.
*build/

# Ignore Local configuration file in any dir (sdk path, etc)
*local.properties

# ---
# Whitelist (allow exceptions)
# ---

# Allow specific release signed .apks.
!android_gradle/RandomQuotes/RandomQuotesApp/build/outputs/apk/*-release.apk
!android_gradle/RandomQuotes/RandomQuotesWidget/build/outputs/apk/*-release.apk
