<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cat.bookwidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<receiver android:name="com.cat.bookwidget.RandomTextWidget" >
		    <intent-filter >
		        <action 
		            android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		
		    <meta-data
		        android:name="android.appwidget.provider"
		        android:resource="@xml/widget_info" />
		</receiver>
		
		<activity android:name="com.cat.bookwidget.WidgetConfiguration" >
		</activity>
		
    </application>

</manifest>
